# Ignore node_modules directories
node_modules/
# Ignore .parcel-cache directories
.parcel-cache/
# Ignore disk file directory
dist/
#Ignore package-lock.json
# package-lock.json

#Ignore package-lock.json
# package.json
